<div class='container'>

  <div class='page-header'>
    <h1>Sicklifes Fantasy League Manager</h1>
  </div>

  <div class='panel-body'>

    <div class='col-md-5'>
      <select id='view-select' class='form-control' ng-model='selectedLeague' ng-options='option.name for option in allLeagues' ng-change='changeLeague()'></select>
    </div>

    <div class='fantasy-table'>

      <h2>{{selectedLeagueName}}</h2>

      <div class='header'>
        <div ng-class='[header.columnClass]' ng-repeat='header in tableHeader'>{{header.text}}</div>
      </div>

      <div class='table-body'>
        <div class='row' ng-repeat='scorer in selectedLeague.source'>
          <div class='col-md-2 small-hpadding'>{{scorer.rank}}</div>
          <div class='col-md-4 small-hpadding'>{{scorer.playerName}}</div>
          <div class='col-md-4 small-hpadding'>{{scorer.teamName}}</div>
          <div class='col-md-2 small-hpadding'>{{scorer.goals}}</div>
        </div>
      </div>

    </div>

  </div>

</div>


