html, body {
  font-family: 'Open Sans', sans-serif; }

.main-container {
  padding: 10px; }

.container.sicklifes-container {
  padding: 0; }

@media (max-width: 700px) {
  .sicklifes-menu li {
    width: 24.1%;
    text-align: center; }
    .sicklifes-menu li.active a {
      border-radius: 0px; } }

.total-goals {
  font-size: 22px;
  font-weight: bold;
  color: #5c5c5c; }

.main-area {
  background-color: #D7D7D7;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 0 0 20px 0; }

.form-control {
  margin-bottom: 20px; }

.table-body {
  clear: both; }

.profile-pic {
  border-radius: 50%; }

.fantasy-table {
  padding: 0;
  margin: 0 0 20px 0;
  width: 100%;
  clear: both;
  /*@media (max-width: 700px) {

    .row {
      margin: 0;
      padding: 0;
      border: 1px solid red;
    }

  }*/ }
  .fantasy-table .header {
    font-weight: bold;
    font-size: 14px;
    height: 25px;
    line-height: 25px; }
  .fantasy-table .row {
    width: 100%;
    padding: 5px 0;
    margin: 0; }
    .fantasy-table .row:nth-child(odd) {
      background-color: #c4e1ff; }

.jumbotron {
  position: relative;
  padding: 20px; }
  .jumbotron h1 {
    font-family: Oswald, sans-serif;
    font-size: 55px; }
  .jumbotron .profile-pic {
    width: 160px;
    height: 160px;
    border: 2px solid #ffffff; }
    @media (max-width: 700px) {
      .jumbotron .profile-pic {
        width: 100%;
        height: 100%; } }
  .jumbotron .player-profile-container {
    z-index: 100; }
  .jumbotron .background-logo {
    position: absolute;
    top: -60px;
    right: -60px;
    z-index: 1;
    opacity: 0.5;
    width: 350px;
    height: 350px; }
  .jumbotron .pattern {
    position: absolute;
    background-image: url(../images/pattern/dimension_@2X.png);
    background-size: 43px 50px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 0.2; }
  .jumbotron .background-dark {
    position: absolute;
    background-color: #333333;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 1; }
  .jumbotron.player-jumbo {
    overflow: hidden;
    padding: 10px; }
    .jumbotron.player-jumbo .player-team {
      color: #ffffff;
      display: inline-block;
      margin: 0; }
    .jumbotron.player-jumbo .player-name {
      color: #02C2FF;
      text-decoration: underline;
      margin: 0;
      font-size: 50px;
      line-height: 60px; }
      @media (max-width: 700px) {
        .jumbotron.player-jumbo .player-name {
          font-size: 40px;
          line-height: 50px; } }

@media (max-width: 750px) {
  .jumbotron h1 {
    font-size: 45px; } }

@media (max-width: 550px) {
  .jumbotron {
    padding: 10px;
    background-color: #333333; }
    .jumbotron h1 {
      font-size: 35px; }
    .jumbotron .background-logo {
      display: none; }
    .jumbotron.player-jumbo {
      background-image: none; } }

.manager-section {
  border-bottom: 1px solid grey; }

/*.nav-pills {
  li {
    //border-bottom: 1px solid grey;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #666666;
    margin: 0 -3px 0 0;
    a {
      border-radius: 0;
    }
  }
}*/
.player-info {
  font-size: 12px;
  color: white; }

.inline {
  display: inline; }
  @media (max-width: 700px) {
    .inline {
      font-size: 20px; } }

.inline-image {
  display: inline-block; }

.bold {
  font-weight: bold; }

.standard-text {
  font-size: 12px; }

.small-text {
  font-size: 10px; }

footer {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 10px; }
