html, body {
  font-family: 'Open Sans', sans-serif; }

.main-container {
  padding: 10px; }

.form-control {
  margin-bottom: 20px; }

.table-body {
  clear: both; }

.fantasy-table {
  padding: 0;
  margin: 0;
  width: 100%;
  clear: both;
  /*@media (max-width: 700px) {

    .row {
      margin: 0;
      padding: 0;
      border: 1px solid red;
    }

  }*/ }
  .fantasy-table .header {
    font-weight: bold;
    font-size: 14px;
    height: 25px;
    line-height: 25px; }
  .fantasy-table .row {
    width: 100%;
    padding: 5px 0;
    margin: 0; }
    .fantasy-table .row:nth-child(odd) {
      background-color: #c4e1ff; }

.bold {
  font-weight: bold; }

.standard-text {
  font-size: 12px; }

.small-text {
  font-size: 10px; }
