<div class='fantasy-table' ng-if='gameDetails.length > 0'>

  <h4>{{leagueName}}</h4>

  <div class='header'>
    <div ng-class='[header.columnClass]' ng-repeat='header in tableHeader'><a class='clickable'>{{header.text}}</a>
    </div>
  </div>

  <div class='table-body'>
    <div class='row' ng-repeat='game in gameDetails'>
      <div class='col-sm-5 col-xs-10'>{{game.alignment}} {{game.vsTeam}}</div>
      <div class='col-sm-1 col-xs-2 text-center'>{{game.goalsScored}}</div>
      <div class='col-sm-3 hidden-xs'>{{game.leagueName}}</div>
      <div class='col-sm-3 hidden-xs'>{{game.datePlayed}}</div>
    </div>
  </div>

</div>