<div ng-if='list.length > 0' class='well'>
  <h3 class='inline'>{{tableName}}</h3>
  <input class='form-control' name='input' ng-model='playerSearch' ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" placeholder='SEARCH FOR ANY PLAYER'>
</div>

<div class='fantasy-table' ng-if='list.length > 0'>

  <div class='header'>
    <div ng-class='[header.columnClass]' ng-repeat='header in tableHeader'><a class='clickable' ng-click='orderBy(header.text)'>{{header.text}}</a></div>
  </div>

  <div class='table-body'>
    <div class='row' ng-repeat='player in list | unique: "id" | orderBy: "+playerName" | filter: playerSearch | limitTo: 50'>
      <div class='col-md-1 col-sm-2 col-xs-2'>
        {{player.id}}
      </div>
      <div class='col-md-3 col-sm-4 col-xs-4 player-column'>
        <span ng-switch on='player.ownedBy'>
          <button ng-switch-when='Free Agent' ng-click='addPlayer({player:player})' type='button' class='btn btn-primary btn-xs'><span class='glyphicon glyphicon-plus'></span></button>
          <button ng-switch-default type='button' ng-click='dropPlayer({player:player})' class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-minus'></span></button>
        </span>
        &nbsp;
        <a ng-href='#/player-details/{{player.id}}'>{{player.playerName}}</a>
      </div>
      <div class='col-md-3 col-sm-3 col-xs-4 small-hpadding bold small-text'>{{player.ownedBy}}</div>
      <div class='col-md-2 hidden-sm hidden-xs'>{{player.leagueName}}</div>
      <div class='col-md-3 col-sm-3 col-xs-2 bold small-text'>{{player.teamName}}</div>
    </div>
  </div>

</div>