<table class='table table-hover table-responsive hidden-sm hidden-xs'>
  <thead>
    <tr>
      <th>Player</th>
      <th>vs Team</th>
      <th>Goals</th>
      <th>Final Score</th>
      <th>Date Played</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='player in list | orderBy: "-datePlayed"'>
      <td>
        <img width="40" height="40" ng-src="{{player.teamLogo}}"/>&nbsp;<a ui-sref="playerDetails({playerId: player.id})">{{player.playerName}}</a>
      </td>
      <td>{{player.alignment}} {{player.vsTeam}}</td>
      <td>{{player.goalsScored}}</td>
      <td>{{player.result}} {{player.finalScore}}</td>
      <td>{{player.datePlayed}}</td>
    </tr>
  </tbody>
</table>

<table class='table table-hover table-responsive hidden-lg hidden-md'>
  <thead>
    <tr>
      <th>Player</th>
      <th>vs Team</th>
      <th>Goals</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='player in list | orderBy: "-datePlayed"'>
      <td>
        <a ui-sref="playerDetails({playerId: player.id})">{{player.playerName}}</a>
      </td>
      <td>{{player.alignment}} {{player.vsTeam}}</td>
      <td>{{player.goalsScored}}</td>
      <td>{{player.datePlayed}}</td>
    </tr>
  </tbody>
</table>
