<table class='table table-hover table-responsive'>
  <!-- <thead>
    <tr>
      <th ng-repeat='header in tableHeader'>{{header.text}}</th>
    </tr>
  </thead> -->
  <tbody>
    <tr ng-repeat='player in list | orderBy: "-datePlayed"'>
      <td>
        <img width="40" height="40" ng-src="{{player.teamLogo}}"/>&nbsp;<a ui-sref="playerDetails({playerId: player.id})">{{player.playerName}}</a>
      </td>
      <td>{{player.alignment}} {{player.vsTeam}}</td>
      <td>{{player.goalsScored}}</td>
      <td>{{player.result}} {{player.finalScore}}</td>
      <td>{{player.leagueName}}</td>
      <td>{{player.datePlayed}}</td>
    </tr>
  </tbody>
</table>
