<table class='table table-hover table-responsive'>
  <thead>
    <tr>
      <th ng-repeat='header in tableHeader'>{{header.text}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='player in list | orderBy:sortFunction()'>
      <td class='player-column'>
        <button type='button' ng-if='player.status !== "dropped"' ng-click='dropPlayer({player:player})' class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-minus'></span></button>
        <button type='button' ng-if='player.status === "dropped"' class='btn btn-warning btn-xs'><span class='glyphicon glyphicon-asterisk'></span></button>
        &nbsp;
        <a ng-href='#/player-details/{{scorer.id}}' ng-class='{dropped: scorer.status === "dropped", added: scorer.status === "added"}'>
          {{player.playerName}}
        </a>
      </td>
      <td class='small-text bold'>{{player.teamName}}</td>
      <td>{{player.leagueName}}</td>
      <td>{{player.domesticGoals}}</td>
      <td>{{player.leagueGoals}}</td>
      <td>{{player.points}}</td>
    </tr>
  </tbody>
</table>
