<table class='table table-hover table-responsive'>
  <thead>
  <tr>
    <th ng-repeat='header in tableHeader'>{{header.text}}</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="playerObj in list | orderBy:sortFunction()">
    <td class="player-column" ng-class='{dropped: playerObj.status === "dropped", added: playerObj.status === "added"}'>
      <div class="vertical-center">
        <a ui-sref="playerDetails({playerId: player.id})">{{playerObj.playerName}}</a>
      </div>
    </td>
    <td class="bold small-text">
      <div class="vertical-center"><img width="40" height="40" ng-src="{{playerObj.teamLogo}}"/>&nbsp;{{playerObj.teamName}}</div>
    </td>
    <td class="small-text">{{playerObj.leagueName}}</td>
    <td>{{playerObj.goals}}</td>
    <td>{{playerObj.domesticGoals}}</td>
    <td>{{playerObj.clGoals}}</td>
    <td>{{playerObj.eGoals}}</td>
    <td>{{playerObj.points}}</td>
  </tr>
  </tbody>
</table>
