<!-- desktop table -->
<table class='table table-hover table-responsive hidden-sm hidden-xs'>
  <thead>
  <tr>
    <th>Player</th>
    <th>vs Team</th>
    <th>G</th>
    <th>S</th>
    <th>SOG</th>
    <th>Mins</th>
    <th>Score</th>
    <th>Date Played</th>
  </tr>
  </thead>

  <tbody ng-if="tableParams.goalsOnlyFilterOn">
  <tr ng-repeat="log in list | filter: {goals: '!0'} | orderBy: '-datePlayed' | limitTo: 50">
    <td>
      <img width="40" height="40" ng-src="{{log.teamLogo}}"/>&nbsp;<a class="bold" ui-sref="playerDetails({playerId: log.id})">{{log.playerName}}</a>
    </td>
    <td>{{log.alignment}} {{log.vsTeam}}</td>
    <td>{{log.goals}}</td>
    <td>{{log.shots}}</td>
    <td>{{log.shotsOnGoal}}</td>
    <td>{{log.minutesPlayed}}mins</td>
    <td>{{log.result}} {{log.finalScore}}</td>
    <td>{{log.datePlayed | date:'shortDate'}}</td>
  </tr>
  </tbody>

  <tbody ng-if="!tableParams.goalsOnlyFilterOn">
  <tr ng-repeat="log in list | orderBy: '-datePlayed' | limitTo: 50">
    <td>
      <img width="40" height="40" ng-src="{{log.teamLogo}}"/>&nbsp;<a class="bold" ui-sref="playerDetails({playerId: log.id})">{{log.playerName}}</a>
    </td>
    <td>{{log.alignment}} {{log.vsTeam}}</td>
    <td>{{log.goals}}</td>
    <td>{{log.shots}}</td>
    <td>{{log.shotsOnGoal}}</td>
    <td>{{log.minutesPlayed}}mins</td>
    <td>{{log.result}} {{log.finalScore}}</td>
    <td>{{log.datePlayed | date:'shortDate'}}</td>
  </tr>
  </tbody>

</table>

<!-- mobile table -->
<table class='table table-hover table-responsive hidden-lg hidden-md'>
  <thead>
  <tr>
    <th>Player</th>
    <th>vs</th>
    <th>G</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody ng-if="tableParams.goalsOnlyFilterOn">
  <tr ng-repeat="log in list | filter: {goals: '!0'} | orderBy: '-datePlayed' | limitTo: 50">
    <td>
      <a class="bold" ui-sref="playerDetails({playerId: log.id})">{{log.playerName}}</a>
    </td>
    <td class="small-text">{{log.alignment}} {{log.vsTeam}}</td>
    <td>{{log.goals}}</td>
    <td class="small-text">{{log.datePlayed | date:'shortDate'}}</td>
  </tr>
  </tbody>

  <tbody ng-if="!tableParams.goalsOnlyFilterOn">
  <tr ng-repeat="log in list | orderBy: '-datePlayed' | limitTo: 30">
    <td>
      <a class="bold" ui-sref="playerDetails({playerId: log.id})">{{log.playerName}}</a>
    </td>
    <td class="small-text">{{log.alignment}} {{log.vsTeam}}</td>
    <td>{{log.goals}}</td>
    <td class="small-text">{{log.datePlayed | date:'shortDate'}}</td>
  </tr>
  </tbody>

</table>
