<!-- desktop table -->
<table class='table table-hover table-responsive hidden-sm hidden-xs'>
  <thead>
  <tr>
    <th>Player</th>
    <th>vs Team</th>
    <th>G</th>
    <th>S</th>
    <th>SOG</th>
    <th>Mins</th>
    <th>Score</th>
    <th>Date Played</th>
  </tr>
  </thead>

  <tbody ng-if="tableParams.goalsOnlyFilterOn">
  <tr ng-repeat="player in list | filter: {goalsScored: '!0'} | orderBy: '-datePlayed' | limitTo: 30">
    <td>
      <img width="40" height="40" ng-src="{{player.teamLogo}}"/>&nbsp;<a class="bold" ui-sref="playerDetails({playerId: player.id})">{{player.playerName}}</a>
    </td>
    <td>{{player.alignment}} {{player.vsTeam}}</td>
    <td>{{player.goalsScored}}</td>
    <td>{{player.shots}}</td>
    <td>{{player.shotsOnGoals}}</td>
    <td>{{player.minutesPlayed}}mins</td>
    <td>{{player.result}} {{player.finalScore}}</td>
    <td>{{player.datePlayed}}</td>
  </tr>
  </tbody>

  <tbody ng-if="!tableParams.goalsOnlyFilterOn">
  <tr ng-repeat="player in list | orderBy: '-datePlayed' | limitTo: 30">
    <td>
      <img width="40" height="40" ng-src="{{player.teamLogo}}"/>&nbsp;<a class="bold" ui-sref="playerDetails({playerId: player.id})">{{player.playerName}}</a>
    </td>
    <td>{{player.alignment}} {{player.vsTeam}}</td>
    <td>{{player.goalsScored}}</td>
    <td>{{player.shots}}</td>
    <td>{{player.shotsOnGoals}}</td>
    <td>{{player.minutesPlayed}}mins</td>
    <td>{{player.result}} {{player.finalScore}}</td>
    <td>{{player.datePlayed}}</td>
  </tr>
  </tbody>

</table>

<!-- mobile table -->
<table class='table table-hover table-responsive hidden-lg hidden-md'>
  <thead>
  <tr>
    <th>Player</th>
    <th>vs</th>
    <th>G</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody ng-if="tableParams.goalsOnlyFilterOn">
  <tr ng-repeat="player in list | filter: {goalsScored: '!0'} | orderBy: '-datePlayed' | limitTo: 30">
    <td>
      <a class="bold" ui-sref="playerDetails({playerId: player.id})">{{player.playerName}}</a>
    </td>
    <td class="small-text">{{player.alignment}} {{player.vsTeam}}</td>
    <td>{{player.goalsScored}}</td>
    <td class="small-text">{{player.datePlayed}}</td>
  </tr>
  </tbody>

  <tbody ng-if="!tableParams.goalsOnlyFilterOn">
  <tr ng-repeat="player in list | orderBy: '-datePlayed' | limitTo: 30">
    <td>
      <a class="bold" ui-sref="playerDetails({playerId: player.id})">{{player.playerName}}</a>
    </td>
    <td class="small-text">{{player.alignment}} {{player.vsTeam}}</td>
    <td>{{player.goalsScored}}</td>
    <td class="small-text">{{player.datePlayed}}</td>
  </tr>
  </tbody>

</table>
