<table class='table table-hover table-responsive'>
  <thead>
    <tr>
      <th ng-repeat='header in tableHeader'>{{header.text}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="player in list | orderBy:sortFunction()">
      <pre>{{player | json}}</pre>
      <td class="player-column" ng-class='{dropped: player.status === "dropped", added: player.status === "added"}'>
        <a ui-sref="playerDetails({playerID: player.id})">{{player.playerName}}</a>
      </td>
      <td class="bold">
        <div class="vertical-center"><img width="40" height="40" ng-src="{{player.teamLogo}}"/>&nbsp;{{player.teamName}}</div>
      </td>
      <!-- <td class='small-text'>{{player.leagueSlugs}}</td> -->
      <td class="small-text">{{player.allLeaguesName}}</td>
      <td>{{player.goals}}</td>
      <td>{{player.domesticGoals}}</td>
      <td>{{player.clGoals}}</td>
      <td>{{player.eGoals}}</td>
      <td>{{player.points}}</td>
    </tr>
  </tbody>
</table>
