<div class='fantasy-table'>

  <div class='header'>
    <div ng-class='[header.columnClass]' ng-repeat='header in tableHeader'>{{header.text}}</div>
  </div>

  <div class='table-body'>
    <div class='row' ng-repeat='team in list'>
      <div class='col-md-1 col-sm-1 col-xs-2 small-hpadding text-center big-text'>{{team.rank}}</div>
      <div class='col-md-3 col-sm-4 col-xs-6  small-hpadding bold'><img width="50" height="50" ng-src="{{team.logo}}" /> {{team.teamName}}</div>
      <div class='col-md-2 col-sm-2 hidden-xs text-center small-hpadding'>{{team.wins}}</div>
      <div class='col-md-2 col-sm-2 hidden-xs text-center small-hpadding'>{{team.losses}}</div>
      <div class='col-md-2 col-sm-2 hidden-xs text-center small-hpadding'>{{team.ties}}</div>
      <div class='col-md-2 col-sm-2 col-xs-4 text-center small-hpadding bold'>{{team.points}}</div>
    </div>
  </div>

</div>
