<!-- desktop -->
<table class='table table-hover table-responsive hidden-sm hidden-xs'>
  <thead>
  <tr>
    <th title="player name"><a ng-click="setSortKey('playerName')">Player</a></th>
    <th title="team name"><a ng-click="setSortKey('teamName')">Team</a></th>
    <th title="league name"><a ng-click="setSortKey('leagueName')">League</a></th>
    <th title="total goals"><a ng-click="setSortKey('goals')">TG</a></th>
    <th title="domestic goals"><a ng-click="setSortKey('domesticGoals')">DG</a></th>
    <th title="champions league goals"><a ng-click="setSortKey('clGoals')">CLG</a></th>
    <th title="europa league goals"><a ng-click="setSortKey('eGoals')">ELG</a></th>
    <th title="total points"><a ng-click="setSortKey('points')">TP</a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="player in list | orderObjectBy:sortKey:ascending">
    <td class="player-column" ng-class="{dropped: player.status === 'dropped', added: player.status === 'added'}">
      <div class="vertical-center">
        <a ui-sref="playerDetails({playerId: player.id})">{{player.id}} - {{player.playerName}}</a>
      </div>
    </td>
    <td ng-if-start="edit"><div class="vertical-center">{{player.id}}</div></td>
    <td><div class="vertical-center">status: <input class="form-control" type="text" ng-model="player.status" /></div></td>
    <td><div class="vertical-center">pickNumber: <input class="form-control" type="text" ng-model="player.pickNumber" /></div></td>
    <td ng-if-end><div class="vertical-center">date: <input class="form-control" type="text" ng-model="player.dateOfTransaction" /></div></td>
    <td ng-if-start="!edit" class="bold small-text">
      <div class="vertical-center">
        <img width="40" height="40" ng-src="{{player.teamLogo}}"/>&nbsp;<a ui-sref="roster({leagueName: player.leagueName.toLowerCase(), teamId: player.teamId})">{{player.teamName}}</a>
      </div>
    </td>
    <td class="small-text"><div class="vertical-center">{{player.leagueName}}</div></td>
    <td><div class="vertical-center">{{player.goals}}</div></td>
    <td><div class="vertical-center">{{player.domesticGoals}}</div></td>
    <td><div class="vertical-center">{{player.clGoals}}</div></td>
    <td><div class="vertical-center">{{player.eGoals}}</div></td>
    <td ng-if-end><div class="vertical-center">{{player.points}}</div></td>
  </tr>
  </tbody>
</table>

<!-- mobile -->
<table class='table table-hover table-responsive hidden-lg hidden-md'>
  <thead>
  <tr>
    <th title="player name"><a ng-click="setSortKey('playerName')">Player</a></th>
    <th title="team name"><a ng-click="setSortKey('teamName')">Team</a></th>
    <th title="total points"><a ng-click="setSortKey('points')">Points</a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="player in list | orderObjectBy:'pickNumber':false">
    <td class="player-column" ng-class="{dropped: player.status === 'dropped', added: player.status === 'added'}">
      <div class="vertical-center">
        <a ui-sref="playerDetails({playerId: player.id})">{{player.playerName}}</a>
      </div>
    </td>
    <td class="bold small-text">
      <div class="vertical-center">{{player.teamName}}</div>
    </td>
    <td>
      <div class="vertical-center">{{player.points}}</div>
    </td>
  </tr>
  </tbody>
</table>
