<table class='table table-hover hidden-sm hidden-xs'>
  <thead>
    <tr>
      <th>Opponent</th>
      <th>G</th>
      <th>S</th>
      <th>SOG</th>
      <th>Final Score</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='game in list | limitTo: 30'>
      <td>{{game.alignment}} {{game.vsTeam}}</td>
      <td>{{game.goalsScored}}</td>
      <td>{{game.shots}}</td>
      <td>{{game.shotsOnGoal}}</td>
      <td>{{game.result}} {{game.finalScore}}</td>
      <td>{{game.datePlayed}}</td>
    </tr>
  </tbody>
</table>


<table class='table table-hover hidden-lg hidden-md'>
  <thead>
    <tr>
      <th>Opponent</th>
      <th>G</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='game in list | limitTo: 30'>
      <td>{{game.alignment}} {{game.vsTeam}}</td>
      <td>{{game.goalsScored}}</td>
      <td>{{game.datePlayed}}</td>
    </tr>
  </tbody>
</table>
