<!DOCTYPE html>
<html ng-app="sicklifes">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title ng-bind="websiteTitle"></title>
  <meta name="description" content="Sicklifes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lobster|Ubuntu:400,500,700' rel='stylesheet'
        type='text/css'>

  <!-- build:css css/sicklifes.css -->
  <link rel="stylesheet" href="bower_components/json-formatter/dist/json-formatter.css"/>
  <link rel="stylesheet" href="bower_components/chartist/dist/chartist.min.css"/>
  <!--<link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>-->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <!--<link rel="stylesheet" href="css/bootstrap.css"/>-->
  <link rel="stylesheet" href="css/general.css"/>
  <link rel="stylesheet" href="css/jumbotron.css"/>
  <link rel="stylesheet" href="css/nav.css"/>
  <link rel="stylesheet" href="css/modal.css"/>
  <link rel="stylesheet" href="css/preloader.css"/>
  <link rel="stylesheet" href="css/charts.css"/>
  <link rel="stylesheet" href="css/league-sprite.css"/>
  <!-- endbuild -->

</head>
<body>

<div class="container master-container">

  <header></header>
  <div class="main-container container">
    <!-- <preloader ng-if="loading"></preloader> -->
    <ui-view></ui-view>
  </div>
  <footer class="ng-cloak" ng-if="!loading">Build v{{version}} | Data Synced on <b>{{lastSyncDate}}</b> from <b>{{source}}</b>
  </footer>

</div>

<!-- build:js js/sicklifes.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-ui-router-tabs/src/ui-router-tabs.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.js"></script>
<script src="bower_components/json-formatter/dist/json-formatter.js"></script>
<script src="bower_components/moment/moment.js"></script>
<!--<script src="bower_components/userapp/userapp.client.js"></script>-->
<!--<script src="bower_components/userapp-angular/angularjs.userapp.js"></script>-->
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<script src="bower_components/chartist/dist/chartist.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script src="js/app.js"></script>
<script src="js/routes.js"></script>
<script src="js/run.js"></script>
<script src="js/filters/orderObjectBy.js"></script>
<script src="js/filters/ordinal.js"></script>
<script src="js/controllers/appCtrl.js"></script>
<script src="js/controllers/masterCtrl.js"></script>
<script src="js/controllers/leaguesCtrl.js"></script>
<script src="js/controllers/loginCtrl.js"></script>
<script src="js/controllers/managersCtrl.js"></script>
<script src="js/controllers/tablesCtrl.js"></script>
<script src="js/controllers/rostersCtrl.js"></script>
<script src="js/controllers/leadersCtrl.js"></script>
<script src="js/controllers/standingsCtrl.js"></script>
<script src="js/controllers/latestGoalsCtrl.js"></script>
<script src="js/controllers/chartsCtrl.js"></script>
<script src="js/controllers/playersDetailsCtrl.js"></script>
<script src="js/controllers/transfersCtrl.js"></script>
<script src="js/controllers/adminCtrl.js"></script>
<script src="js/controllers/statsCtrl.js"></script>
<script src="js/directives/preloader.js"></script>
<script src="js/directives/header.js"></script>
<script src="js/directives/customTable.js"></script>
<script src="js/directives/managerJumbotron.js"></script>
<script src="js/directives/euroTable.js"></script>
<script src="js/directives/chlgTable.js"></script>
<script src="js/factory/textManipulator.js"></script>
<script src="js/factory/arrayLoopers.js"></script>
<script src="js/factory/arrayMappers.js"></script>
<script src="js/factory/arrayFilter.js"></script>
<script src="js/factory/scoringLogic.js"></script>
<script src="js/factory/statsCorrection.js"></script>
<script src="js/factory/apiFactory.js"></script>
<script src="js/factory/objectUtils.js"></script>
<script src="js/factory/chartSettings.js"></script>
<script src="js/factory/updateDataUtils.js"></script>
<script src="js/factory/fireBaseService.js"></script>
<script src="js/factory/managersService.js"></script>
<script src="js/factory/dataRecovery.js"></script>
<script src="js/factory/momentService.js"></script>
<script src="js/factory/transferDates.js"></script>
<!-- <script src="js/factory/imageTool.js"></script> -->
<script src="js/templates/templateCache.js"></script>
<script src="js/vendor/polyfill.js"></script>
<script src="js/vendor/assertions.js"></script>
<!-- endbuild -->

</body>
</html>
