$mainColour: #f5f5f5;
$mainDarkColour: darken(#f5f5f5, 25%);
$mainLightColour: lighten(#f5f5f5, 25%);
$secondaryColour: #283a91;
$secondaryDarkColour: darken(#283a91, 50%);
$secondaryLightColour: lighten(#283a91, 50%);
$textColour: #3a3f4a;
