$mainColour: #15695F;
$mainDarkColour: darken(#15695F, 25%);
$mainLightColour: lighten(#15695F, 25%);
$secondaryColour: #e88e12;
$secondaryDarkColour: darken(#e88e12, 10%);
$secondaryLightColour: lighten(#e88e12, 25%);