html, body {
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  padding: 10px;
}

.container {
  &.sicklifes-container {
    padding: 0;
  }
}

.sicklifes-menu {

  li {
    @media (max-width: 700px) {

      width: 32.8%;
      text-align: center;
      &.active {
        a {
          border-radius: 0px;
        }
      }

    }
  }

}

.form-control {
  margin-bottom: 20px;
}

.table-body {
  clear: both;
}

.fantasy-table {

  padding: 0;
  margin: 0;
  width: 100%;
  clear: both;

  .header {
    font-weight: bold;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
  }

  /*@media (max-width: 700px) {

    .row {
      margin: 0;
      padding: 0;
      border: 1px solid red;
    }

  }*/

  .row {
    width: 100%;
    padding: 5px 0;
    margin: 0;
    &:nth-child(odd) {
      background-color: #c4e1ff;
    }
  }

}

.bold {
  font-weight: bold;
}

.standard-text {
  font-size: 12px;
}

.small-text {
  font-size: 10px;
}

////////////////

footer {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 10px;
}