@import 'variables';

html, body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $mainColour;
}

h1, h2 {
  color: $mainColour;
}

h3.manager-name {
  display: inline-block;
  color: #ffffff;
  font-size: 38px;
  width: 40%;
  margin: 0;
  text-decoration: underline;
  height: 100px;
  line-height: 100px;
}

.master-container {
  &.container {
    padding: 0 0 50px 0;
  }
}

.main-container {
  padding: 0;
  margin: 50px 0 0 0;
}

.goals-container {
  display: inline-block;
  color: #ffffff;
  width: 56%;
  margin: 0;
  padding: 0;
}

.total-goals {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}

.info-text {
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
}

.info-title {
  font-size: 14px;
  font-weight: normal;
  color: $secondaryLightColour;
}

//////////////////////////////////

.form-control {
  margin-bottom: 20px;
}

.table-body {
  clear: both;
}

.profile-pic {
  border-radius: 50%;
}

.fantasy-table {

  padding: 0;
  margin: 0 0 20px 0;
  width: 100%;
  clear: both;
  border: 1px solid $mainColour;

  .header {
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
  }

  .row {
    width: 100%;
    font-size: 12px;
    padding: 5px 0;
    margin: 0;
    background-color: #FAFAFA;
    &:nth-child(odd) {
      background-color: #eeeeee;
    }
  }

}

/////////////////////////////////////// nav

.player-info {
  font-size: 12px;
  color: white;
}

.player-prop {
  font-weight: bold;
  color: rgb(44, 44, 44);
}

.inline {
  display: inline;
  @media (max-width: 700px) {

    font-size: 20px;

  }
}

.inline-image {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.standard-text {
  font-size: 12px;
}

.small-text {
  font-size: 10px;
}

///////////////////////////////////////

.navbar-default {
  a.navbar-brand {
    color: $mainColour;
    font-weight: bold;
  }
}

///////////////////////////////////////

.stats-list {

  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(242, 3, 230);
  width: 100%;
  height: 100%;
  overflow: auto;
  display: table-cell;

  li {

    display: inline;
    margin: 0;
    padding: 0 5px;
    float: left;
    border-right: 1px solid white;

    .stat-name {
      font-size: 20px;
      text-align: center;
    }

    .stat-value {
      font-size: 38px;
      text-align: center;
      font-weight: bold;
    }

  }

}

///////////////////////////////////////

footer {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 10px;
}