@import 'variables';

.jumbotron {

  position: relative;
  padding: 20px;
  background-color: $mainColour;
  color: white;
  overflow: hidden;

  h1 {
    font-family: Oswald, sans-serif;
    font-size: 55px;
    @media (max-width: 750px) {
      h1 {
        font-size: 45px;
      }
    }
    &.player-name {
      color: $secondaryColour;
      text-decoration: underline;
      margin: 0;
      font-size: 50px;
      line-height: 60px;
      @media (max-width: 700px) {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }

  .profile-pic {
    max-width: 160px;
    min-width: 80px;
    height: auto;
    border: 2px solid $secondaryColour;
    float: left;
    @media (max-width: 700px) {
      display: none;
    }
  }

  .player-profile-container {
    z-index: 100;
  }

  .background-logo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: .5;
    width: 350px;
    height: 350px;
  }

  .pattern {
    position: absolute;
    background-image: url(../images/pattern/dimension_@2X.png);
    background-size: 43px 50px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: .2;
  }

  .background-dark {
    position: absolute;
    background-color: #333333;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
  }

  .player-team {
    display: inline-block;
    margin: 0;
  }

}

@media (max-width: 750px) {
  .jumbotron {
    h1 {
      font-size: 45px;
    }
  }
}

@media (max-width: 550px) {

  .jumbotron {
    padding: 10px;
    background-color: $mainColour;
    font-size: 35px;
    .background-logo {
      display: none;
    }
    &.player-jumbo {
      background-image: none;
    }
    .player-info {
      font-size: 10px;
    }
  }

}