@import 'variables';

.navbar-default {
  a.navbar-brand {
    font-weight: bold;
    color: $secondaryColour;
    background-color: $mainColour;
    &:hover {
      color: $textColour;
      //background-color: $secondaryColour;
    }
    &:active, &:visited {
      color: $textColour;
      //background-color: $secondaryColour;
    }
  }
  .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    color: $textColour;
    background-color: $secondaryColour;
  }
}

.navbar-default.sicklifes-nav {
  background-color: $mainColour;
  color: $textColour;
  .navbar-nav {
    > li {
      > a {
        color: $textColour;
        &:hover {
          color: $textColour;
          background-color: $secondaryColour;
        }
      }
      &.active {
        a {
          color: $textColour;
          background-color: $secondaryDarkColour;
        }
      }
    }
  }
}
