<preloader loading='loading'></preloader>

<div ng-if='!loading' class='panel-body'>

  <h2>Admin</h2>
  
  <select class='form-control' ng-model='selectedManager' ng-options='option.managerName for option in managerData' ng-change='changeManager(selectedManager)'></select>

  <div class='well'>
    <button type='button' class='btn btn-danger' ng-click='updatePlayerPoolData()'>Update Player Pool Data</button>
    <button type='button' class='btn btn-danger' ng-click='updateAllManagerData()'>Update All Managers Data</button>
    <button type='button' class='btn btn-danger' ng-click='saveToFireBase()'>Save Data to Firebase</button>
    <button type='button' class='btn btn-danger' ng-click='resetToDefault()'>Reset to Default</button>
  </div>
  
  <manager-jumbotron manager='selectedManager'></manager-jumbotron>

  <hr>
  
  <custom-table table-body-template='managers-standard' list='selectedManager.players' table-header='managersTableHeader'></custom-table>
  
  <custom-table table-body-template='all-players-standard' list='allPlayers' table-name='All Players' table-header='allPlayersTableHeader'></custom-table>

</div>


