<preloader loading='loading'></preloader>

<div ng-if='!loading' class='panel-body'>

  <h2>Leagues</h2>
  <!-- <div>Welcome {{ user.first_name }}!</div> -->

  <select class='form-control' ng-model='selectedLeague' ng-options='option.name for option in allLeagues' ng-change='changeLeague(selectedLeague)'></select>

  <div ng-if='admin' class='well'>
    <button type='button' class='btn btn-danger' ng-disabled="!fireBaseReady" ng-click='updateLeaguesData()'>Update League Data</button>
    <button type='button' class='btn btn-danger' ng-disabled="!fireBaseReady" ng-click='saveToFireBase()'>Save Data to Firebase</button>
  </div>

  <div class='well overflow-show'>

    <div class='col-md-3 col-sm-4 col-xs-5'>
      <img class='inline league-img' ng-src='{{selectedLeague.img}}'/>
    </div>
    <div class='col-md-9 col-sm-8 col-xs-7'>
      <div class='row-fluid'>
        <h3 class='inline vertical-center'>{{selectedLeague.name}}</h3>
      </div>
    </div>

  </div>

  <custom-table table-body-template='tables' list='selectedLeague.source' table-header='leagueTableHeader' table-name=''></custom-table>

</div>
