<preloader loading='loading'></preloader>

<div ng-show='!loading' class='panel-body'>

  <h2>Leagues</h2>

  <select class='form-control' ng-model='selectedLeague' ng-options='option.name for option in allLeagues' ng-change='changeLeague(selectedLeague)'></select>

  <div ng-if='admin' class='well'>
    <button type='button' class='btn btn-danger' ng-disabled="!fireBaseReady" ng-click='updateLeaguesData()'>Update League Data</button>
    <button type='button' class='btn btn-danger' ng-disabled="!fireBaseReady" ng-click='saveToFireBase()'>Save Data to Firebase</button>
  </div>

  <div class="well overflow-show vertical-center">

    <div class="col-md-3 col-sm-4 col-xs-5">
      <img class="inline league-img" ng-src="{{selectedLeague.img}}"/>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-7">
      <h3 class="inline vertical-center">{{selectedLeague.name}}</h3>
    </div>

  </div>

  <div class="col-md-12">
    <tabs data="tabData" type="tabs"/>
  </div>
  <div class="col-md-12">
    <ui-view></ui-view>
  </div>

</div>
