<div class='panel-body'>

  <div ng-if='admin' class='well'>
    <button type='button' class='btn btn-danger' ng-click='updateTables()'>Update League Tables</button>
    <button type='button' class='btn btn-danger' ng-click='saveTableLeadersToFireBase()'>Save Data to Firebase</button>
  </div>

  <span ng-switch on="leagueName">
    <custom-table ng-switch-when="epl" table-body-template='tables' list='selectedLeague.source' table-params='{leagueName: leagueName}' table-header='leagueTableHeader'></custom-table>
    <custom-table ng-switch-when="liga" table-body-template='tables' list='selectedLeague.source' table-params='{leagueName: leagueName}' table-header='leagueTableHeader'></custom-table>
    <custom-table ng-switch-when="seri" table-body-template='tables' list='selectedLeague.source' table-params='{leagueName: leagueName}' table-header='leagueTableHeader'></custom-table>
    <chlg-table ng-switch-when="chlg"></chlg-table>
    <euro-table ng-switch-when="uefa"></euro-table>
  </span>
