<preloader loading='loading'></preloader>

<div ng-if='!loading' class='panel-body'>

  <h2>Managers</h2>

  <select class='form-control' ng-model='selectedManager' ng-options='option.managerName for option in managerData' ng-change='changeManager(selectedManager)'></select>
  <select class='form-control' ng-model='selectedMonth' ng-options='option.monthName for option in allMonths' ng-change='changeMonth(selectedMonth)'></select>

  <div ng-if='admin' class='well'>
    <button type='button' class='btn btn-danger' ng-click='updateAllManagerData()'>Update All Managers Data</button>
    <button type='button' class='btn btn-danger' ng-click='saveRoster()'>Save Roster</button>
  </div>

  <manager-jumbotron manager='selectedManager'></manager-jumbotron>

  <hr>

  <div>
    <tabs data="tabData" type="tabs"/>
  </div>
  <ui-view/>

</div>
