<preloader loading='loading'></preloader>

<div ng-if='!loading' class='panel-body'>

  <h2>Managers</h2>

  <select class='form-control' ng-model='selectedManager' ng-options='option.managerName for option in allManagers' ng-change='changeManager(selectedManager)'></select>

  <div ng-if='admin' class='well'>
    <button type='button' class='btn btn-danger' ng-click='updateData()'>Update Data</button>
    <button type='button' class='btn btn-danger' ng-click='saveToFireBase()'>Save Data to Firebase</button>
  </div>

  <div class="jumbotron">
    <div class='col-md-4'>
      <h3 class='manager-name'>{{selectedManager.managerName}}</h3>
    </div>
    <div class='col-md-8'>
      <p class='info-text'><span class='total-goals'>{{selectedManager.totalGoals}}</span><span> goals</span></p>
      <p class='info-text'><span class='total-goals'>{{selectedManager.totalPoints}}</span><span> points</span></p>
    </div>
  </div>

  <!-- <div class='fantasy-table'>

    <div class='header'>
      <div ng-class='[header.columnClass]' ng-repeat='header in tableHeader'><a class='clickable'>{{header.text}}</a>
      </div>
    </div>

    <div class='table-body'>
      <div class='row' ng-repeat='scorer in selectedManager.players'>
        <div class='col-md-4 col-sm-5 col-xs-6' ng-class='{dropped: scorer.status === "dropped", added: scorer.status === "added"}'><a ng-href='#/player-details/{{scorer.id}}'>{{scorer.playerName}}</a></div>
        <div class='col-md-3 col-sm-4 hidden-xs small-text bold'>{{scorer.teamName}}</div>
        <div class='col-md-2 hidden-sm hidden-xs'>{{scorer.leagueName}}</div>
        <div class='col-md-1 col-sm-1 col-xs-2 text-center'>{{scorer.domesticGoals}}</div>
        <div class='col-md-1 col-sm-1 col-xs-2 text-center'>{{scorer.leagueGoals}}</div>
        <div class='col-md-1 col-sm-1 col-xs-2 text-center'>{{scorer.points}}</div>
      </div>
    </div>

  </div> -->

  <custom-table table-body-template='managers-standard' list='selectedManager.players' table-header='tableHeader'></custom-table>

</div>