<preloader loading='loading'></preloader>

<div ng-if='!loading' class='panel-body'>

  <h2>Managers</h2>

  <select class='form-control' ng-model='selectedManager' ng-options='option.managerName for option in managerData' ng-change='changeManager(selectedManager)'></select>

  <div ng-if='admin' class='well'>
    <button type='button' class='btn btn-danger' ng-click='updateAllManagerData(onManagersRequestFinished)'>Update All Managers Data</button>
    <button type='button' class='btn btn-danger' ng-click='saveRoster()'>Save Roster</button>
  </div>

  <manager-jumbotron manager='selectedManager'></manager-jumbotron>

  <hr>

  <!--<div class="col-md-12">
    <tabs data="tabData" type="tabs"/>
  </div>
  <div class="col-md-12">
    <ui-view></ui-view>
  </div>-->

  <custom-table table-body-template='managers-standard' list='selectedManager.players' sort-function="byPickNumber" table-header='tableHeader'></custom-table>

</div>
