<preloader loading='loading'></preloader>

<div ng-if='!loading' class='panel-body'>

  <h2>Monthly Winners</h2>

  <select class='form-control' ng-model='selectedMonth' ng-options='option.monthName for option in allMonths' ng-change='changeMonth(selectedMonth)'></select>
  <select class='form-control' ng-model='manager' ng-options='option.managerName for option in managersData' ng-change='changeManager(manager)'></select>

  <div ng-if='admin' class='well'>
    <button type='button' class='btn btn-danger' ng-click='updateAllManagerData(onManagersRequestFinished)'>Update All Managers Data</button>
    <!-- <button type='button' class='btn btn-danger' ng-click='resetAllPlayers()'>Clear Rosters</button> -->
    <button type='button' class='btn btn-danger' ng-click='saveRoster()'>Save Roster</button>
    <!--<button type='button' class='btn btn-danger' ng-click='populateTeamsInLeague()'>Populate Teams in League</button>-->
  </div>

  <!-- <manager-jumbotron manager='manager' selected-month='selectedMonth'></manager-jumbotron> -->

  <hr>

  <custom-table table-body-template='monthly-log' list='selectedManager.filteredMonthlyGoalsLog' table-name='Game Log' table-header='tableHeader'></custom-table>


</div>
