<nav-menu></nav-menu>

<preloader loading='loading'></preloader>

<div ng-if='!loading' class='panel-body'>

  <h2>Players Details</h2>

  <div class='jumbotron player-jumbo'>

    <img class='background-logo inline-image' ng-src='{{player.teamLogo}}'/>
    <span class='background-dark'></span>
    <span class='pattern'></span>

    <div class='col-md-3 col-sm-4 col-xs-4'>
      <img class='profile-pic' ng-src='{{player.playerImage}}'/>
    </div>
    <div class='col-md-9 col-sm-8 col-xs-8'>

      <h1 class='player-name'>{{player.playerName}}</h1>

      <h3 class='player-team'>{{player.playerTeam}}</h3><br/>

      <h3 class='player-team'>{{player.leagueName()}}</h3>

      <p class='player-info'>POS: {{player.playerPos}}</p>

      <p class='player-info'>WEIGHT/HEIGHT: {{player.weight}}lbs/{{player.height}}</p>

      <p class='player-info'>BIRTHDATE: {{player.birthdate}}</p>

    </div>

  </div>

  <player-details-table game-details='ligaGameDetails' table-header='tableHeader' league-name='LIGA Games'></player-details-table>

  <player-details-table game-details='eplGameDetails' table-header='tableHeader' league-name='EPL Games'></player-details-table>

  <player-details-table game-details='seriGameDetails' table-header='tableHeader' league-name='Serie A Games'></player-details-table>

  <player-details-table game-details='chlgGameDetails' table-header='tableHeader' league-name='Champions League Games'></player-details-table>

  <player-details-table game-details='euroGameDetails' table-header='tableHeader' league-name='Europa League Games'></player-details-table>

</div>