<div class='container'>

  <div class='page-header'>
    <h2>Teams</h2>
  </div>

  <div class='panel-body'>

    <select id='view-select' class='form-control' ng-model='selectedTeam' ng-options='option.personName for option in allTeams' ng-change='changeTeam()'></select>

    <div class='jumbotron'>
      <div class='container'>
        <span><b>Total Points:</b> {{totalPoints}}</span>
      </div>
    </div>

    <div class='fantasy-table'>

      <!--<h2>{{selectedLeagueName}}</h2>-->

      <div class='header'>
        <div ng-class='[header.columnClass]' ng-repeat='header in tableHeader'>{{header.text}}</div>
      </div>

      <div class='table-body'>
        <div class='row' ng-repeat='scorer in selectedTeam.players'>
          <div class='col-md-3 small-hpadding'>{{scorer.playerName}}</div>
          <div class='col-md-4 small-hpadding'>{{scorer.teamName}}</div>
          <div class='col-md-3 small-hpadding'>{{scorer.league}}</div>
          <div class='col-md-1 small-hpadding text-center'>{{scorer.goals}}</div>
          <div class='col-md-1 small-hpadding text-center'>{{scorer.points()}}</div>
        </div>
      </div>

    </div>

  </div>

</div>


