<preloader loading='loading'></preloader>

<div ng-if='!loading' class='panel-body'>

  <h2>Players Details</h2>

  <div class='jumbotron'>

    <img class='background-logo inline-image' ng-src='{{player.teamLogo}}'/>

    <div class='col-md-4 col-sm-4 hidden-xs'>
      <img class='profile-pic' ng-src='{{player.playerImage}}'/>
    </div>

    <div class='col-md-8 col-sm-8 col-xs-12 manager-jumbotron'>

      <h1 class='player-name'>{{player.playerName}}</h1>
      <h3 class='player-team'><a ui-sref="roster({leagueName: player.leagueName.toLowerCase(), teamId: player.teamId})">{{player.teamName}}</a></h3><br/>
      <h3 ng-if="matchingManager !== null" class='manager-name'>Manager Name: <span><a ui-sref="managers.overview({managerId: matchingManager.managerName.toLowerCase()})">{{matchingManager.managerName}}</a></span></h3><br/>
      <p class='player-info'><span class='player-prop'>GOALS: </span><span>{{player.goals}}</span></p>
      <p class='player-info'><span class='player-prop'>POINTS: </span><span>{{player.points}}</span></p>
      <p ng-if='player.leagueName' class='player-info'><span class='player-prop'>DOMESTIC LEAGUE:</span> {{player.leagueName}}</p>
      <p ng-if='player.tournamentLeagueName' class='player-info'><span class='player-prop'>TOURNAMENT LEAGUE:</span> {{player.tournamentLeagueName}}</p>
      <p class='player-info'><span class='player-prop'>POSITION: </span> {{player.playerPos}}</p>
      <p class='player-info'><span class='player-prop'>WEIGHT/HEIGHT: </span> {{player.weight}}lbs/{{player.height}}</p>
      <p class='player-info'><span class='player-prop'>BIRTHPLACE: </span> {{player.birthplace}}</p>
      <p class='player-info'><span class='player-prop'>BIRTHDATE: </span> {{player.birthdate}}</p>

    </div>

  </div>

  <div ng-if='admin' class='well'>
    <button type='button' class='btn btn-danger' ng-click='getAllGameLogs()'>Update Data</button>
    <button type='button' class='btn btn-danger' ng-click='saveToFireBase()'>Save Data to Firebase</button>
  </div>

  <custom-table ng-if='player.gameLogs.ligaCompleteLog.length > 0' table-body-template='game-log' list='player.gameLogs.ligaCompleteLog' table-params='{player: player}' league-img='leagueImages.liga' table-name='La Liga Game Logs'></custom-table>

  <custom-table ng-if='player.gameLogs.eplCompleteLog.length > 0' table-body-template='game-log' list='player.gameLogs.eplCompleteLog' table-params='{player: player}' league-img='leagueImages.epl' table-name='EPL Game Logs'></custom-table>

  <custom-table ng-if='player.gameLogs.seriCompleteLog.length > 0' table-body-template='game-log' list='player.gameLogs.seriCompleteLog' table-params='{player: player}' league-img='leagueImages.seri' table-name='Seri A Game Logs'></custom-table>

  <custom-table ng-if='player.gameLogs.chlgCompleteLogs.length > 0' table-body-template='game-log' list='player.gameLogs.chlgCompleteLogs' table-params='{player: player}' league-img='leagueImages.chlg' table-name='Champions League Game Logs'></custom-table>

  <custom-table ng-if='player.gameLogs.euroCompleteLogs.length > 0' table-body-template='game-log' list='player.gameLogs.euroCompleteLogs' table-params='{player: player}' league-img='leagueImages.euro' table-name='Euro League Game Logs'></custom-table>

</div>
