<div class='panel-body'>

  <div class='jumbotron'>

    <div class='col-md-4 col-sm-4 hidden-xs'>
      <img class='profile-pic' ng-src='{{player.player.image}}'/>
    </div>

    <div class='col-md-8 col-sm-8 col-xs-12 manager-jumbotron'>

      <h1 class='player-name'>{{player.player.name | capitalize}}</h1>
      <h3 class='player-team'><img class='background-logo inline-image' ng-src='{{player.team.logo}}'/><a ui-sref="roster({leagueName: player.league.name.toLowerCase(), teamId: player.team.id})">{{player.teamName}}</a></h3><br/>
      <h4 class='player-status' ng-class="{drafted: player.player.status === 'drafted', dropped: player.player.status === 'dropped', added: player.player.status === 'added', 'free-agent': player.status === 'free agent'}">{{player.player.status | uppercase}} {{player.pickNumber | ordinal}}</h4><br/>
      <h4 ng-if="matchingManager !== undefined" class='manager-name'>Manager Name: <span><a ui-sref="managers.overview({managerId: matchingManager.managerName.toLowerCase()})">{{matchingManager.managerName | capitalize}}</a></span></h4><br/>

      <table class="table borderless">
        <tr><td>SHOTS</td><td><dot class-name="shots"></dot>{{player.stats.shots}}</td></tr>
        <tr><td>SOG</td><td><dot class-name="shots-on-goal"></dot>{{player.stats.shotsOnGoal}}</td></tr>
        <tr><td>GOALS</td><td><dot class-name="goals"></dot>{{player.stats.goals}}</td></tr>
        <tr><td>POINTS</td><td>{{player.stats.points}}</td></tr>
        <tr ng-if='player.leagueName'><td>DOMESTIC LEAGUE</td><td>{{player.league.name}}</td></tr>
        <tr ng-if='player.tournamentLeagueName'><td>TOURNAMENT LEAGUE</td><td>{{player.league.tournamentLeagueName}}</td></tr>
        <tr><td>POSITION</td><td>{{player.bio.position}}</td></tr>
        <tr><td>WEIGHT/HEIGHT</td><td>{{player.bio.weight}}lbs/{{player.bio.height}}</td></tr>
        <tr><td>BIRTHPLACE</td><td>{{player.bio.birthplace}}</td></tr>
        <tr><td>BIRTHDATE</td><td>{{player.bio.birthdate}}</td></tr>
      </table>

    </div>


    <div class='col-md-6 col-sm-6 col-xs-12'>
      <select class="form-control" ng-model="selectedRange" ng-options="option.label for option in ranges" ng-change="changeRange(selectedRange)"></select>
    </div>

    <div class='col-md-6 col-sm-6 col-xs-12'>
      <select class="form-control" ng-model="selectedType" ng-options="option for option in types" ng-change="changeChartType(selectedType)"></select>
    </div>

    <div class='col-md-12 col-sm-12 col-xs-12'>
      <div class="ct-chart"></div>
    </div>

  </div>

  <div ng-if='admin' class='well'>
    <button type='button' class='btn btn-danger' ng-click='requestUpdateOnPlayer()'>Update Data</button>
    <button type='button' class='btn btn-danger' ng-click='saveToFireBase()'>Save Data to Firebase</button>
  </div>

  <custom-table ng-if='player.gameLogs.ligaCompleteLog.length > 0' table-body-template='game-log' list='player.gameLogs.ligaCompleteLog' table-params='{player: player}' league-img='leagueImages.liga' table-name='La Liga Game Logs'></custom-table>

  <custom-table ng-if='player.gameLogs.eplCompleteLog.length > 0' table-body-template='game-log' list='player.gameLogs.eplCompleteLog' table-params='{player: player}' league-img='leagueImages.epl' table-name='EPL Game Logs'></custom-table>

  <custom-table ng-if='player.gameLogs.seriCompleteLog.length > 0' table-body-template='game-log' list='player.gameLogs.seriCompleteLog' table-params='{player: player}' league-img='leagueImages.seri' table-name='Seri A Game Logs'></custom-table>

  <custom-table ng-if='player.gameLogs.chlgCompleteLogs.length > 0' table-body-template='game-log' list='player.gameLogs.chlgCompleteLogs' table-params='{player: player}' league-img='leagueImages.chlg' table-name='Champions League Game Logs'></custom-table>

  <custom-table ng-if='player.gameLogs.euroCompleteLogs.length > 0' table-body-template='game-log' list='player.gameLogs.euroCompleteLogs' table-params='{player: player}' league-img='leagueImages.euro' table-name='Euro League Game Logs'></custom-table>

</div>
