<preloader loading='loading'></preloader>

<div ng-if='!loading' class='panel-body'>

  <h2>Standings</h2>

  <select class='form-control' ng-model='selectedMonth' ng-options='option.monthName for option in allMonths' ng-change='changeMonth(selectedMonth)'></select>

  <div ng-if='admin' class='well'>
    <button type='button' class='btn btn-danger' ng-click='updateAllManagerData()'>Update All Managers Data</button>
    <button type='button' class='btn btn-danger' ng-click='saveToFireBase()'>Save Data to Firebase</button>
  </div>

  <table class='table table-hover table-responsive'>
    <thead>
    <tr>
      <th>Team</th>
      <th>DG</th>
      <th>CLG</th>
      <th>EG</th>
      <th>PTS</th>
    </tr>
    </thead>
    <tbody>
    <tr class="manager-row" ng-repeat="manager in managersData | orderObjectBy:'totalPoints':true">
      <td class="manager-{{manager.managerName | lowercase}}">
        <div class="vertical-center">
          <svg height="20" width="20">
            <circle class="manager-circle" cx="10" cy="10" r="10"/>
            Sorry, your browser does not support inline SVG.
          </svg>
          &nbsp;&nbsp;<a class="manager-name" ui-sref="managers({managerId: manager.managerName.toLowerCase()})">{{manager.managerName}}</a>
        </div>
      </td>
      <td>{{manager.domesticGoals}}</td>
      <td>{{manager.clGoals}}</td>
      <td>{{manager.eGoals}}</td>
      <td>{{manager.totalPoints}}</td>
    </tr>
    </tbody>
  </table>

  <div class="ct-chart"></div>

</div>
