<h3>LATEST GOALS</h3>
<!-- desktop table -->
<table class='table table-hover table-responsive hidden-sm hidden-xs'>
  <thead>
  <tr>
    <th>Player</th>
    <th>Manager</th>
    <th>G</th>
    <th>S</th>
    <th>SOG</th>
    <th>Score</th>
    <th>Mins</th>
    <th>Date Played</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="log in combinedLogs | filter: {goalsScored: '!0'} | orderBy: '-datePlayed' | limitTo: 100">
    <td>
      <img width="40" height="40" ng-src="{{log.teamLogo}}"/>&nbsp;<a class="bold" ui-sref="playerDetails({playerId: log.id})">{{log.playerName}}</a>
    </td>
    <td>{{log.managerName}}</td>
    <td>{{log.goals}}</td>
    <td>{{log.shots}}</td>
    <td>{{log.shotsOnGoal}}</td>
    <td>{{log.result}} {{log.finalScore}}</td>
    <td>{{log.minutesPlayed}}mins</td>
    <td>{{log.date | date:'MM/d/yy'}}</td>
  </tr>
  </tbody>

</table>

<!-- mobile table -->
<table class='table table-hover table-responsive hidden-lg hidden-md'>
  <thead>
  <tr>
    <th>Player</th>
    <th>Manager</th>
    <th>G</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="log in combinedLogs | filter: {goalsScored: '!0'} | orderBy: '-datePlayed' | limitTo: 40">
    <td>
      <a class="bold" ui-sref="playerDetails({playerId: log.id})">{{log.playerName}}</a>
    </td>
    <td>{{log.managerName}}</td>
    <td>{{log.goals}}</td>
    <td class="small-text">{{log.date | date:'MM/d/yy'}}</td>
  </tr>
  </tbody>

</table>
