<div class='panel-body'>

  <h2>Standings</h2>

  <select class='form-control' ng-model='selectedMonth' ng-options='option.monthName for option in allMonths' ng-change='changeMonth(selectedMonth)'></select>

  <div ng-if='admin' class='well'>
    <button type='button' class='btn btn-danger' ng-click='updateAllManagerData()'>Update All Managers Data</button>
    <!--<button type='button' class='btn btn-danger' ng-click='saveRoster()'>Save Roster</button>-->
  </div>

  <uib-tabset>
    <uib-tab ng-repeat="tab in tabData" ui-sref-active heading="{{tab.title}}" ui-sref="{{tab.route}}">
    </uib-tab>
  </uib-tabset>
  <ui-view/>

</div>
