<preloader loading='loading'></preloader>

<div ng-if='!loading' class='panel-body'>

  <h2>Transfers</h2>

  <div ng-if='admin' class='well'>
    <button type='button' class='btn btn-danger' ng-click='updateData()'>Update Data</button>
    <button type='button' class='btn btn-danger' ng-click='saveToFireBase()'>Save to Firebase</button>
    <button type='button' class='btn btn-danger' ng-click='setAllPlayersToActive()'>Set All To Active</button>
    <button type='button' class='btn btn-danger' ng-click='makeTransactions()'>Make Transactions</button>
  </div>

  <custom-table table-body-template='all-players' add-player='addPlayer(player)' drop-player='dropPlayer(player)' list='allPlayers' table-name='All Players' table-header='tableHeader'></custom-table>

</div>