<div class='panel-body'>

  <h3>Transaction for: <b>{{ selectedManager.managerName | capitalize }}</b></h3>

  <div ng-if='admin' class='well'>
    <button type='button' class='btn btn-danger' ng-click='updatePlayerPoolData()'>Update Player Pool Data</button>
    <!--<button type='button' class='btn btn-danger' ng-click='savePlayerPoolData()'>Save to Firebase</button>-->
    <button type='button' class='btn btn-danger' ng-click='saveTransaction()'>Save Transfer</button>
  </div>

  <div class='well'>
    <select class='form-control' ng-model='selectedManager' ng-options='option.managerName | capitalize for option in managerData' ng-change='changeManager(selectedManager)'></select>
  </div>

  <uib-tabset>
    <uib-tab ng-repeat="tab in tabData" heading="{{tab.title}}" ui-sref="{{tab.route}}" ui-sref-active="current">
    </uib-tab>
  </uib-tabset>
  <ui-view/>

</div>
