<div class='transfer-container'>
  <div class='col-xs-6' ng-if='droppedPlayerObject'>
    <div class='col-xs-4'>
      <img class='img-responsive profile-pic' ng-src='{{droppedPlayerObject.playerImage}}'/>
    </div>
    <div class='col-xs-8'>
      <p class='bold red'>DROPS PLAYER</p>
      <p><b>{{ droppedPlayerObject.playerName }}</b></p>
      <p class="small-text">{{ droppedPlayerObject.teamName }}</p>
      <p class="small-text">{{ droppedPlayerObject.leagueName }}</p>
    </div>
  </div>
  <div class='col-xs-6' ng-if='addedPlayerObject'>
    <div class='col-xs-4'>
      <img class='img-responsive profile-pic' ng-src='{{addedPlayerObject.playerImage}}'/>
    </div>
    <div class='col-xs-8'>
      <p class='bold green'>ADDS PLAYER</p>
      <p><b>{{ addedPlayerObject.playerName }}</b></p>
      <p class="small-text">{{ addedPlayerObject.teamName }}</p>
      <p class="small-text">{{ addedPlayerObject.leagueName }}</p>
    </div>
  </div>
</div>

<div ng-if="transactionPlayerAdded">
  <p class="input-group">
    <!-- <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/> -->
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
  </p>
</div>

<custom-table ng-if="(transactionPlayerAdded || draftMode)" table-body-template="managers-players" sort-function="byPickNumber" table-params="playersTableParams" list="selectedManager.players"></custom-table>
<custom-table ng-if="!transactionPlayerAdded" table-body-template="all-players" table-params="playersTableParams" list="allPlayers"></custom-table>
